
.carrom_frame{
background-image:url("board.jpg");
height:550px; 
width:550px;
border:20px solid brown;
border-radius:30px;
position:absolute;
top:50%; left:50%;
transform:translate(-50%,-50%);
}

#center{
width:150px;
height:150px;
position:absolute;
top:195px; 
left:200px;
}

/*arrows*/

#topleftarrow{
width:50px;
height:150px;
position:absolute;
top:8%; 
left:17%;
rotate:135deg;
}

#toprightarrow{
width:50px;
height:150px;
position:absolute;
top:8%; 
right:17%;
rotate:-135deg;
}

#bottomrightarrow{
width:50px;
height:150px;
position:absolute;
bottom:8%; 
right:17%;
rotate:-45deg;
}

#bottomleftarrow{
width:50px;
height:150px;
position:absolute;
bottom:8%; 
left:17%;
rotate:45deg;
}

/*end of arrows*/

p#top{
color:red;
font-style:bold;
text-align:center;
margin:7px;
}

p#bottom{
color:black;
font-style:bold;
text-align:center;
rotate:180deg;
margin:7px;
}

.pockets{
height:55px;
width:55px;
background:black;
border-radius:50%;
position:absolute;
}

/* pockets style */

.p1{
top:2;
left:2;
}

.p2{
top:2;
right:2;
}

.p3{
bottom:2;
left:2;
}

.p4{
bottom:2;
right:2;
}

/* end of pockets style */

/*bases*/
.base{
border:4px solid black;
position:absolute;
transform:translate(-50%, -50%);
border-radius:8px;
}

.top-base{
height:5.5%;
width:55%;
top:14%;
left:50%;
}

.right-base{
height:55%;
width:5.5%;
top:50%;
right:9%;
}

.bottom-base{
height:5.5%;
width:55%;
bottom:9%;
left:50%;
}

.left-base{
height:55%;
width:5.5%;
top:50%;
left:14%;
}
/*end of bases*/

/*circle*/
.red-circle{
height:35px;
width:35px;
background:red;
position:absolute;
border-radius:50%;
margin:1px;
border:4px solid black;
}

.c1{
top:-20%;
left:-4%;
}

.c2{
top:-20%;
right:-4%;
}

.c3{
top:-4%;
right:-20%;
}

.c4{
bottom:-4%;
right:-20%;
}

.c5{
bottom:-20%;
left:-4%;
}

.c6{
bottom:-20%;
right:-4%;
}

.c7{
top:-4%;
left:-20%;
}

.c8{
bottom:-4%;
left:-20%;
}
/*end of circle*/